.main-form,
textarea {
  width: 100% !important;
  overflow-y: hidden;
  font-size: 17px;
}

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  overflow-y: hidden;
  border: 0;
  outline: 0;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  font-weight: bold;
  border: 1px solid black;
  font-size: 1.4em;
  color: #343434;
}

$grey: rgb(0, 128, 73);
$blue: rgb(255, 255, 255);

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: $grey;
  }

  50% {
    transform: rotate(180deg);
    border-top-color: $blue;
  }

  100% {
    transform: rotate(360deg);
    border-top-color: $grey;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  padding-bottom: 100px;
}

h1,
h3 {
  display: block;
  margin: 0px auto;
  text-align: center;
  font-family: 'Tahoma';
  font-weight: lighter;
  color: $grey;
  letter-spacing: 1.5px;
}

h1 {
  margin: 50px auto;
}

@mixin loaderDivMixin {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
}

.loader {
  position: absolute;
  top: 85vh;
  left: 45%;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;

  div {
    height: 100%;
  }
}

.loader4,
.loader4 div {
  @include loaderDivMixin;
  border-radius: 50%;
  padding: 4px;
  animation: rotate2 4s infinite linear;
}

div:hover {
  animation-play-state: paused;
}

.loader,
.loader * {
  will-change: transform;
}

form {
  display: flex;
  flex-flow: column;
}

.btn-block {
  margin: 10px auto;
  align-self: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 60%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}