<div class="container">
  <h2>
    Згідно з Всесвітньою організацією охорони здоров’я cтрес можна
    визначити як стан занепокоєння або психічного напруження, викликаний
    труднощами.
  </h2>
  <p>У 21 столітті життя пересічної людини надто відрізняється від того, яким
    воно було у наших предків. Загрози і виклики, з якими ми стикаємося завжди
    були частиною нашого існування як виду, проте їхній характер і причини значно
    змінилися з часів древніх культур. Внаслідок цих змін та соціального фактору ми
    більше не можемо використовувати ті самі методи, які використовували наші
    предки.
    <br /><br />
    Загроза життю у вигляді дикої жихої тварини не порівняється з
    психологічним тиском від начальника, хвилюванням перед екзаменами чи
    співбесідою, звільненням з роботи, коли у людини немає інших засобів для
    існування, оскільки перше тривало хвилини, а з другим ми стикаємо ледве не
    щодя. Оскільки механізми захисту від стресу у людей не встигли еволюціонувати
    так швидко, як технологічний прогрес та зміна способу життя, наслідки можуть
    стати летальними для нас, адже ми не пристосовані до того, щоб постійно
    перебувати під впливом стресу.
  </p>
  <h4>Причини та наслідки стресу для організму</h4>
  <p>
    Важливо пам’ятати, що кожен з нас відчуває ознаки та наслідки стресу,
    його ступінь на одну і ту ж загрозу по різному. В тих ситуаціях, де хтось заклякне
    або посивіє від страху, інші можуть спокійно продовжувати робити свою справу.
    Стрес частково суб’єктивний, але фізіологічні реакції, такі як: прискорення
    серцебиття, ріст кров’яного тиску, частіші вдихи та видихи, загострення
    відчуттів, мобілізація ресурсів і прилив енергії для того, щоб розібратися з
    загрозою у нас чи виділення гормонів наднирниками, таких як кортизол,
    адреналін, норадреналін, ендорфінів та інших, що допомогають підвищувати
    спроможність організму діяти в умовах екстримальної ситуації, у всіх одинакова.
  </p>
  <p>
    Тепер, коли ми знаємо, що таке стрес, варто розгянути його причини та
    наслідки, адже саме за допомогою таких передвісників та ефектів від них, ми в
    тому числі можемо визначати, чи піддається людина його впливу. В моменті, ми
    не завжди можемо зрозуміти свій стан, та знаючи про першопричини ми
    зможемо попередити проблему, або бути готовими до неї, і у випадку з
    наслідками, спробувати нейтралізувати їх або звернутись по допомогу до
    спеціалістів.<br /><br />
    Причини виникнення стресу можна умовно поділити на об'єктивні та
    суб'єктивні. Об'єктивні причини безпосередньо не залежать від самої людини, а
    пов'язані з факторами зовнішнього середовища. Це можуть бути незадовільні
    житлові умови, шкідливі виробничі фактори, несприятлива екологічна
    обстановка. Також стресори можуть критися у взаємодії з іншими людьми:
    конфлікти з начальником, сусідами, підлеглими чи в соціально-економічних
    проблемах, такі як високі ціни, складнощі з кредитуванням, недовіра до влади,
    надмірне податкове навантаження. І, звичайно ж, надзвичайні ситуації, зокрема
    стихійні лиха, техногенні катастрофи, хвороби та травми, створюють
    екстремальний стрес для людського організму.<br /><br />
    Окрім зовнішніх чинників, існують і суб'єктивні внутрішні причини стресу, безпосередньо пов'язані з індивідуальними
    особливостями людини. Це
    може бути невідповідність генетичної програми сучасним реаліям, засвоєні з
    дитинства деструктивні моделі поведінки, конфлікт між переконаннями та
    реальністю, неадекватні установки, нездатність задовольнити актуальні потреби,
    проблеми з комунікацією, неефективні звички та стратегії діяльності, невміння
    розподіляти та використовувати час та багато інших
  </p>
  <p>
    Цікавим є той факт, що зафіксовано випадки, коли звичайний перегляд
    трилера або фільму жаху може викликати посттравматичний стресовий розлад
    (ПТСР) у дітей або людей з підвищеною чутливістю. І летальні випадки
    внаслідок стресу, на жаль, також трапляються, особливо під час надзвичайних
    ситуацій через важкі форми стресу – шок, колапс та виснаження.
  </p>
  <h4>Загальні ознаки стресу</h4>
  <p>
    Стрес - отруює наше життя повільно. Він вражає людину одночасно на
    декількох фронтах - розумовому, емоційному, поведінковому та фізичному.
    Спочатку симптоми стресу можуть бути майже непомітними, але з часом вони
    набирають силу, створюючи руйнівний ефект для здоров'я та благополуччя.
    На емоційному рівні стрес обрушується бурею
    негативних переживань.
    <br /><br />
    Тривожність стає постійним супутником, виникає невмотивоване відчуття
    загрози, недовіри до світу. Настрій стає похмурим, гнітючим, з'являються ознаки
    депресії. Людина стає дратівливою, агресивною, гнів легко виривається назовні
    через найменший привід. Емоційна ватність, притуплені почуття можуть
    змінюватися спалахами надмірної емоційності. Впевненість в собі зникає, життя
    сповнюється почуттями провини, образами та самозвинувачення
  </p>
  <p>
    Стрес - отруює наше життя повільно. Він вражає людину одночасно на
    декількох фронтах - розумовому, емоційному, поведінковому та фізичному.
    Спочатку симптоми стресу можуть бути майже непомітними, але з часом вони
    набирають силу, створюючи руйнівний ефект для здоров'я та благополуччя.
    На емоційному рівні стрес обрушується бурею
    негативних переживань.
    <br /><br />
    Тривожність стає постійним супутником, виникає невмотивоване відчуття
    загрози, недовіри до світу. Настрій стає похмурим, гнітючим, з'являються ознаки
    депресії. Людина стає дратівливою, агресивною, гнів легко виривається назовні
    через найменший привід. Емоційна ватність, притуплені почуття можуть
    змінюватися спалахами надмірної емоційності. Впевненість в собі зникає, життя
    сповнюється почуттями провини, образами та самозвинувачення
  </p>

  <h4>Негативний вплив стресу на здоров’я людини</h4>
  <p>
    Одноразова сильна реакція організму на стрес буде називатися гострою.
    Якщо організм не стигає відновитися і цикл стресу, що складається з трьох фаз,
    виділених Гансом Сельє, не закінчується повним відновленням, то цей стан
    переходить в хронічний стрес, який становить велику небезпеку організму .
    Але найбільш руйнівний вплив стрес чинить на психічне здоров'я людини.
    <br /><br />
    Порушення психічного здоров’я людини, що часто приводять до
    наступних проблем: депресія, тривожність, безсоння, порушення циклу сну,
    когнітивні розлади - проблеми з концентрацією та пам'яттю, посттравматичний
    стресовий розлад та психосоматичні розлади - ось далеко не повний перелік
    можливих наслідків хронічного стресу для психіки. Біохімія людини
    порушується, це безпосередньо впливає на її мислення, а значить і на можливість
    боротися з наслідками, ось чому важливо усвідомлювати про всі процеси, які
    перебігають в людському організмі і вчасно розпізнавати потенційні загрози та
    реагувати на них відповідно
  </p>
</div>